<span class="mastwall mw2"> </span>
<div class="c5">
<div class="ccenter c4">
            <div class="delhed">Delilah Resto</div>
</div>




<div class="ccenter ">
    <div class="cmenu c3">
        <a class="z4 " href="confirm">
            <p class="ainfo z6 fa2"><button class="cavatar c1"></button>volver</p>
        </a>
    </div>
</div>


        <div class="cimg"></div>
        <h2>¡Recibimos tu pedido!</h2>
        <h5><span class="c6">{{user.username}}</span>, gracias por pedir a Delilah, tu número de pedido es 
            {{#each idnro}}<span class="c6">{{id_menu}}</span>{{/each}}. Puedes seguirlo clickeando abajo.</h5>
        <div class="aunion2 a3">
 
  <form   action='/delilahresto/follow' method="GET" class="dnone2">
        <button class="alogin" type="submit">SEGUIR PEDIDO</button></form>
        </div>
</div>



    


