<main class="index">
    <header class="masthead d-flex">

        <div class="ablack">
            <div class="container text-center my-auto">

                <h1 class="atitle">Delilah Resto</h1>
                <div>

                    <div class="slider" id="main-slider">
                        <div class="bsliderw">
                            <img src="/img/1.jpg" alt="1" class="slide" id="slide1">
                            <img src="/img/2.jpg" alt="2" class="slide" id="slide1">
                            <img src="/img/3.jpg" alt="3" class="slide" id="slide1">
                            <img src="/img/4.jpg" alt="4" class="slide" id="slide1">
                        </div>
                        <div class="bsliderw2">
                            <img src="/img/5.jpg" alt="5" class="slide2">
                            <img src="/img/6.jpg" alt="6" class="slide2">
                            <img src="/img/7.jpg" alt="7" class="slide2">
                            <img src="/img/8.jpg" alt="8" class="slide2">
                        </div>
                        <div class="bsliderw3">
                            <img src="/img/9.jpg" alt="1" class="slide3">
                            <img src="/img/10.jpg" alt="2" class="slide3">
                            <img src="/img/11.jpg" alt="3" class="slide3">
                            <img src="/img/12.jpg" alt="4" class="slide3">
                        </div>
                    
                    </div>
                    
                </div>

                <h3 class="mb-5">
                    <em>Bienvenido a casa</em>
                </h3>


            </div>
                <div class="aunion2">
                <a class="alogin" href="/signin">
                    Ingresar
                </a>
            </div>
        </div>
        <div class="overlay"></div>
    </header>

    
</main>