<span class="mastwall"> </span>
<div class="ablocktitle">
    <h1 class="atitle">Delilah Resto</h1>
</div>
<form action="/signin" method="POST">
    <div class="asubmit">
        <div class="ablockinfo">
            <div class="aunion">
                <div class="z1">
                    <p class="ainfo z3">Usuario</p>
            <input class="abox" type="text"  name="username" required  type="text"
                placeholder="Ingrese su usuario" autofocus>
                </div>
                <div class="z1">
                    <p class="ainfo z3">Contraseña</p>
                    <input class="abox" name="password" type="password"
                        type="text" placeholder="Ingresa tu contraseña">
                </div>
            </div>
        </div>
        <div class="aunion3">
            <div class="ablocklogin">
                <div class="aunion2">
                    <button class="alogin" type="submit">
                        Iniciar sesion
                    </button>

                    <a class="alogin2" href="/signup">
                        REGISTRARSE
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

