 <span class="mastwall "> </span>

<div class="ablocktitle">
    <h1 class="atitle">Deliah Resto</h1>
</div>
  <div class="asubmit">
<form action='/signup' method="POST">
    <div class="ablockinfo">
        <div class="aunion">
            <div class="ainfo z3">Usuario</div>
            <input class="abox" type="text"  name="username" required autocomplete="off" type="text"
                placeholder="Ingrese su usuario" autofocus>
            <div class="ainfo z3">Nombre y Apellido</div>
            <input class="abox" type="text"  name="fullname" required autocomplete="off" type="text"
                placeholder="Ingrese su Nombre y apellido">
            <div class="ainfo z3">Correo Electrónico</div>
            <input class="abox" type="email"  name="email" required placeholder="ingrese su mail"   autocomplete="off" type="text">
            <div class="ainfo z3">Teléfono</div>
            <input class="abox" type="int"  name="phone" required autocomplete="off" type="text"
                placeholder="Ingrese su teléfono">
            <div class="ainfo z3">Dirección de envío</div>
            <input class="abox" type="text"  name="address" required  autocomplete="off" type="text"
                placeholder="Ingrese su domicilio">
            <div class="ainfo z3">Contraseña</div>
            <input class="abox" type="text"  name="password" required autocomplete="off" type="text"
                placeholder="Ingrese su contraseña">
             <input class="abox dnone" type="text"  name="type" required autocomplete="off" type="text"
                placeholder="Ingrese su contraseña" value="1">
        </div>
    </div>
        <div class="aunion3 z7">
            <div class="ablocklogin">
                <div class="aunion2">
                    <button class="alogin" type="submit">
                        CREAR CUENTA
                    </button>

          </form>
                <a class="alogin2" href="/">
                    VOLVER
                </a>
                </div>
            </div>
        </div>
</div>
</div>
</div>


